{% extends 'auth_layout.html' %}

{% block body %}
<div class="container">
	<main class="form-signin col-12 col-lg-6 mx-auto">
		<form action="/login" method="post">
			<br>
			<h1 class="mb-3 fw-normal">Inicio de sesión</h1>

			<div class="form-floating">
				<input type="text" class="form-control" id="floatingInput" placeholder="username" name="name">
				<label for="floatingInput">Usuario</label>
			</div>
			<div class="form-floating">
				<input type="password" class="form-control" id="floatingPassword" placeholder="Password"
					name="password">
				<label for="floatingPassword">Contraseña</label>
			</div>

			<div class="form-check text-start my-3">

				<label class="form-check-label">
					<a href="/registro">Ir a registro</a>
				</label>
			</div>
			<button class="btn btn-primary w-100 py-2" type="submit">Inicia Sesión</button>
		</form>
	</main>
</div>
{% endblock %}